.about {
	height: 100vh;
	padding: 5rem 10rem;
	.greeting {
		color: var(--color-accent);
	}
	.interest {
		color: var(--color-font-muted);
	}

	.social-links {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 2rem;
		gap: 2rem;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			color: var(--color-font);
			text-decoration: none;
			font-size: 1.2rem;
			font-weight: 500;
			border-radius: 5px;
			padding: 10px 15px;
			background-color: #1d1d1d;
			transition: all 50ms ease-in-out;
			border: 2px solid transparent;
			&:hover {
				background-color: #2d2d2d;
				border-color: var(--color-accent);
			}
		}
	}

	&.active {
		@keyframes slideIn {
			from {
				opacity: 0;
				transform: translateY(20px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation-name: slideIn;
		animation-duration: 650ms;
		animation-fill-mode: forwards;
	}

	@media (max-width: 1150px) {
		padding: 5rem 2rem;
	}

	@media (max-width: 600px) {
		.social-links {
			flex-direction: column;
			align-items: stretch;

			a {
				width: 100%;
				text-align: center;
			}
		}
	}
}
