.burger {
	width: 2rem;
	height: 2rem;
	position: fixed;
	top: 15px;
	right: 20px;
	z-index: 20;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	cursor: pointer;

	div {
		width: 2rem;
		height: 0.25rem;
		background-color: var(--color-font);
		border-radius: 10px;
		transform-origin: 1px;
		transition: all 200ms linear;

		&:nth-child(1) {
			transform: rotate(0);
		}

		&:nth-child(2) {
			opacity: 1;
		}

		&:nth-child(3) {
			transform: rotate(0);
		}
	}

	&.open {
		div {
			background-color: var(--color-accent);
			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}
