.header {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	flex-direction: row;

	.logo {
		flex: 0.5;
	}

	.links {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		a {
			margin-left: 1rem;
			text-decoration: none;
			color: var(--color-font-link-header);
			font-weight: 600;
			font-size: 1.2rem;
			transition: all 0.1s ease-in-out;
			border-bottom: 3px solid var(--color-font-link-header);

			&:hover {
				color: var(--color-font-link-header-hover);
				border-color: var(--color-font-link-header-hover);
			}
		}
	}

	.control {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 0.5;
	}
}
