.scrollToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;

	.arrow {
		transition: transform 300ms ease-in-out;

		&.up {
			transform: rotate(0deg);

			&:hover {
				animation: pulseUp 1s infinite;
			}
		}

		&.down {
			transform: rotate(-180deg);

			@media screen and (min-width: 768px) {
				width: 50px;
				height: 50px;
				position: fixed;
				bottom: 15px;
				right: 50%;
			}

			&:hover {
				animation: pulseDown 1s infinite;
			}
		}
	}

	&:hover {
		color: var(--color-accent);
	}

	@keyframes pulseUp {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.4);
		}
		100% {
			transform: scale(1);
		}
	}

	@keyframes pulseDown {
		0% {
			transform: scale(1) rotate(-180deg);
		}
		50% {
			transform: scale(1.4) rotate(-180deg);
		}
		100% {
			transform: scale(1) rotate(-180deg);
		}
	}
}
