.themeSwitch {
	svg {
		aspect-ratio: 1;
		height: 2rem;
		cursor: pointer;
		animation-duration: 150ms;
		animation-timing-function: linear;
		animation-iteration-count: 1;
		animation-direction: normal;
		fill: var(--color-font-nav);
		transition: all 50ms linear;

		&:hover {
			fill: var(--color-font);
		}
	}

	@keyframes spinThemeSwitch {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-180deg);
		}
	}
}
