:root {
	/* Colors: General */

	--color-background-body: #000000;
	--color-background-header: transparent;
	--color-background-sidebar: #1a1a1a;

	--color-font: #ffffff;

	--color-border: #1c1c1c;

	--color-danger: #cf000f;
	--color-success: #009944;
	--color-info: #63c0df;
	--color-warning: #f0541e;

	--color-svg-header: #363636;

	--color-accent: #22eb97;
	--color-accent-background: #85f2c631;

	--color-font-link: var(--color-accent);
	--color-font-link-hover: #7dffc9;
}
